@font-face {
    font-family: "Poppins";
    src: url("Poppins-Regular.ttf") format("truetype");
}

* {
    font-family: Poppins, sans-serif;
}

body {
    margin: 0;
    background: #212121;
}

p {
    margin: 0;
}

#separator {
    height: 1px;
    background-color: #616161;
    border-radius: 2px;
}

#page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 100px;
}

#sidebar {
    display: flex;
    align-items: stretch;
    gap: 16px;
    background-color: #252525;
    padding: 4px;
}

#session-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}

#session-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #ffffff;
}

#session-item {
    background-color: #499b4a;
    border-radius: 2px;
    padding: 8px;
    color: #ffffff;
}

#session-item p svg {
    margin-right: 4px;
}

#login-widget {
    display: flex;
    flex-direction: column;
    margin: 25% auto auto;
    width: 400px;
    padding: 16px;
    gap: 16px;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.3) 0 0 5px;
    background-color: #252525;
}

#login-widget label {
    color: #ffffff;
}

#login-input-box {
    display: flex;
    flex-direction: column;
}

#login-input-box a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
}

#login-input-box input {
    border: none;
    border-bottom: 1px solid #000000;
    height: 32px;
    font-size: 1rem;
}

#login-input-box input:focus {
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
}
#login-input-footer {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    gap: 8px;
}

button {
    display: block;
    appearance: none;
    border: none;
    padding: 8px;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
}

.primary-button {
    background-color: #499b4a;
    color: #ffffff;
}

.primary-button:hover {
    background-color: #2a592b;
}

.secondary-button {
    background-color: #dedddd;
}

.secondary-button:hover {
    background-color: #c9c9c9;
}

.delete-button {
    background-color: #ff2e2e;
    color: #ffffff;
}

.delete-button:hover {
    background-color: #ce2626;
}

.sidebar-button {
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    text-align: start;
    font-size: 1rem;
    padding: 8px 12px;
}

.sidebar-button svg {
    margin-right: 8px;
    transform: scale(125%);
}

.sidebar-button:hover {
    background-color: #499b4a;
}

.sidebar-button:nth-last-child(1) {
    margin-left: auto;
}

#map {
    height: 100vh;
}

#new-session-container {
    padding: 8px;
}

#locations-page-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
}

#locations-header {
    padding: 8px;
}

#new-location-button svg {
    margin-right: 8px;
}

#locations-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 16px;
    padding: 16px;
    max-height: calc(100vh - 16px);
}

#locations-item {
    display: grid;
    grid-template-rows: 125px 30px 30px;
    background-color: #313131;
    color: #ffffff;
    border-radius: 8px;
    transition: transform 0.15s;
}

#locations-item:hover {
    cursor: pointer;
    transform: scale(102.5%);
}

#locations-item img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#location-item-name {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    font-size: 1rem;
}

#location-item-geo {
    color: #b7b7b7;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    font-size: 0.75rem;
}

#location-page-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 150px 1fr;
}

#location-image-container {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
}

#location-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#location-image-container #image-input {
    position: absolute;
    right: 16px;
    bottom: 16px;
   display: none;
}

#location-image-container label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8px;
    bottom: 8px;
    height: 32px;
    width: 32px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 2px;
    transition: transform 0.1s;
}

#location-image-container label:hover {
    cursor: pointer;
    transform: scale(105%);
}

#location-header {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
    padding: 8px 16px;
}

#location-name {
    display: flex;
    align-items: end;
    color: #ffffff;
    font-size: 1.75rem;
}

#location-geo {
    display: flex;
    align-items: end;
    color: #b7b7b7;
    font-size: 0.75rem;
}

#location-edit-button {

}

#location-info {
    grid-area: 3 / 1 / 4 / 2;
}

#location-map {
    height: 500px;
    width: 100%;
    z-index: 10;
}

.edit-location-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit-location-content label {
    color: #ffffff;
}

.edit-location-row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 25px;
    column-gap: 8px;
}

#location-edit-map {
    height: 200px;
}

#overview-grid {
    display: flex;
    gap: 16px;
    padding: 8px;
}

.overview-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    max-height: 75px;
    border: 1px solid #616161;
    border-radius: 4px;
    background-color: #424242;
    color: #ffffff;
    padding: 16px;
}

.overview-widget-header {
    font-size: 1.2rem   ;
}

.overview-widget-content {

}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 419;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    z-index: 420;
    background-color: #313131;
    border-radius: 2px;
    padding: 8px;
}

#popup-close-button {
    background-color: transparent;
    color: #ffffff;
}

#popup-close-button svg {
    transform: scale(120%);
}