<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Forgot Password | Jonko Tracker</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="icon" type="image/png" href="static/joint.png">
        <script src="static/src/forgotPassword.js"></script>
    </head>
    <body>
        <div id="login-widget">
            <div id="login-input-box">
                <label for="email-input">E-Mail</label>
                <input id="email-input" type="text" autocomplete="email">
            </div>
            <div id="login-input-footer">
                <button class="primary-button" id="submit-button">Submit</button>
            </div>
        </div>
    </body>
</html>