<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Locations | Jonko Tracker</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="icon" type="image/png" href="static/joint.png">
        <script src="static/src/sidebar.js"></script>
        <script src="static/src/locations.js"></script>
        <script defer src="https://kit.fontawesome.com/9cd64cc426.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="page-container">
            <div id="sidebar">
                <button class="sidebar-button" onclick="window.location.href = window.location.origin;">
                    <i class="fa-solid fa-chart-line"></i>
                    Overview
                </button>
                <button class="sidebar-button" onclick="window.location.href = window.location.origin + `/sessions`;">
                    <i class="fa-solid fa-list"></i>
                    Sessions
                </button>
                <button id="current-sidebar-button" class="sidebar-button" onclick="window.location.href = window.location.origin + `/locations`;">
                    <i class="fa-solid fa-location-dot"></i>
                    Locations
                </button>
                <button class="sidebar-button" onclick="window.location.href = window.location.origin + `/map`;">
                    <i class="fa-solid fa-map"></i>
                    Map
                </button>
                <button class="sidebar-button" onclick="window.location.href = window.location.origin + `/new-session`;">
                    <i class="fa-solid fa-plus"></i>
                    New session
                </button>
                <button class="sidebar-button" onclick="window.location.href = window.location.origin + `/logout`;">
                    <i class="fa-solid fa-user"></i>
                    {{ current_user.username }}
                </button>
            </div>
            <div id="locations-page-content">
                <div id="locations-list">
                </div>
                <div id="locations-sidebar">
                    <label for="editor-name-input">Name</label>
                    <input id="editor-name-input">
                    <div>
                        <label for="editor-latitude-input">Latitude</label>
                        <input id="editor-latitude-input">
                        <label for="editor-longitude-input">Longitude</label>
                        <input id="editor-longitude-input">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>