<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login | Jonko Tracker</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="icon" type="image/png" href="static/joint.png">
        <script src="static/src/login.js"></script>
    </head>
    <body>
        <div id="login-widget">
            <div id="login-input-box">
                <label for="email-input">E-Mail</label>
                <input id="email-input" type="text" autocomplete="email">
            </div>
            <div id="login-input-box">
                <label for="password-input">Password</label>
                <input id="password-input" type="password" autocomplete="current-password">
                <a href="/forgot-password">Forgot password</a>
            </div>
            <div>
                <input id="remember-input" type="checkbox">
                <label for="remember-input">Remember me</label>
            </div>
            <div id="login-input-footer">
                <button class="secondary-button" id="register-button">Register</button>
                <button class="primary-button" id="login-button">Login</button>
            </div>
        </div>
    </body>
</html>