<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New Session | Jonko Tracker</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="icon" type="image/png" href="static/joint.png">
        <script src="static/src/sidebar.js"></script>
        <script src="static/src/new-session.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script defer src="https://kit.fontawesome.com/9cd64cc426.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="page-container">
            <div id="sidebar">
                <button class="sidebar-button" onclick="window.location.href = window.location.origin;">
                    <i class="fa-solid fa-chart-line"></i>
                    Overview
                </button>
                <button class="sidebar-button" onclick="window.location.href = window.location.origin + `/sessions`;">
                    <i class="fa-solid fa-list"></i>
                    Sessions
                </button>
                <button class="sidebar-button" onclick="window.location.href = window.location.origin + `/locations`;">
                    <i class="fa-solid fa-location-dot"></i>
                    Locations
                </button>
                <button class="sidebar-button" onclick="window.location.href = window.location.origin + `/map`;">
                    <i class="fa-solid fa-map"></i>
                    Map
                </button>
                <button id="current-sidebar-button" class="sidebar-button" onclick="window.location.href = window.location.origin + `/new-session`;">
                    <i class="fa-solid fa-plus"></i>
                    New session
                </button>
                <button class="sidebar-button" onclick="window.location.href = window.location.origin + `/logout`;">
                    <i class="fa-solid fa-user"></i>
                    {{ current_user.username }}
                </button>
            </div>
            <div id="new-session-container">
                <div id="small-map"></div>
                <div>

                </div>
            </div>
        </div>
    </body>
</html>