<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register | Jonko Tracker</title>
        <link rel="stylesheet" href="static/style.css">
        <link rel="icon" type="image/png" href="static/joint.png">
        <script src="static/src/register.js"></script>
    </head>
    <body>
        <div id="login-widget">
            <div id="login-input-box">
                <label for="username-input">Username</label>
                <input id="username-input" type="text">
            </div>
            <div id="login-input-box">
                <label for="password-input">Password</label>
                <input id="password-input" type="password">
            </div>
            <div id="login-input-box">
                <label for="password-control-input">Repeat password</label>
                <input id="password-control-input" type="password">
            </div>
            <div id="login-input-footer">
                <button class="secondary-button" id="login-button">Login</button>
                <button class="primary-button" id="register-button">Register</button>
            </div>
        </div>
    </body>
</html>